body {
    background-image: url("image.jpg");}

h1 {
	color: white;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-size: 300px;
}
h3 {
	color: white;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}