body {
    background-image: url("image1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
	color: white;
	font-family: 'Cormorant Garamond', serif;
	text-align: center;
	font-size: 100px;
}

h2 {
	color: white;
	font-family: 'Cormorant Garamond', serif;
	text-align: center;
}

h3 {
	color: white;
	font-family: 'Cormorant Garamond', serif;
	text-align: center;
}

a {
	color: white;
	font-family: 'Cormorant Garamond', serif;
	text-align: center;
}

a:hover {
	color: rgb(119,165,184);
}

p {
	color: white;
	font-family: 'Cormorant Garamond', serif;
	text-align: center;
	font-size: 100px;
}

#header {
	font-size: 100px;
}

#header2 {
	font-size: 25px;
}