body {
    background-image: url("image1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
	color: white;
	font-family: 'Nanum Myeongjo', serif;
	text-align: center;
	font-size: 100px;
}

h2 {
	color: white;
	font-family: 'Nanum Myeongjo', serif;
	text-align: center;
}

h3 {
	color: white;
	font-family: 'Nanum Myeongjo', serif;
	text-align: center;
}

a {
	color: white;
	font-family: 'Nanum Myeongjo', serif;
	text-align: center;
}

a:hover {
	color: rgb(119,165,184);
}