body {
	background-color: white;
}

p {
	font-family: American Typewriter;
	font-weight: lighter;
	color: black;
	font-size: 55px;
}

a {
	color: rgb(190,30,45);
}

#links {
	color: rgb(246,167,33);
	text-decoration:  none;
	text-align: center;
}
