body {
	background-color: black;
}

p {
	font-family: Courier New;
	color: rgb(246,167,33);
	font-size: 55px;
}

a {
	color: white;
}

#line1 {
	width: 500px;
	height: 1px;
	background: white;
	position: absolute;
    top: 500px;
    left: 80px;
}
#line2 {
    width: 800px;
	height: 1px;
	background: white;
	position: absolute;
    top: 300px;
    left: 100px;
}
#line3 {
    width: 400px;
	height: 1px;
	background: white;
	position: absolute;
    top: 500px;
    left: 20px;
}
#line4 {
    width: 2000px;
	height: 1px;
	background: white;
	position: absolute;
    top: 60px;
    left: 70px;
}
#line5 {

}
#line6 {

}
#line7 {

}
#line8 {

}
#line9 {

}
#line10 {

}
#lineA {

}
#lineB {

}
#lineC {

}
#lineD {

}
#lineE {

}
#lineF {

}
#lineG {

}
#lineH {

}
#lineI {

}
#lineJ {

}