body {
	background-color: black;
}

p {
	font-family: American Typewriter;
	font-weight: lighter;
	color: rgb(246,167,33);
	font-size: 55px;
}

a {
	color: white;
	text-decoration:  none;
}

#line1 {
	width: 50%;
	height: 1px;
	background: white;
	position: absolute;
    top: 500px;
    left: 80px;
    opacity: 60%;
}
#line2 {
    width: 80%;
	height: 1px;
	background: white;
	position: absolute;
    top: 300px;
    left: 100px;
    opacity: 60%;
}
#line3 {
    width: 40%;
	height: 1px;
	background: white;
	position: absolute;
    top: 600px;
    left: 200px;
    opacity: 60%;
}
#line4 {
    width: 20%;
	height: 1px;
	background: white;
	position: absolute;
    top: 60px;
    left: 70px;
    opacity: 60%;
}
#line5 {
    width: 20%;
	height: 1px;
	background: white;
	position: absolute;
    top: 90px;
    left: 300px;
    opacity: 60%;
}
#line6 {
    width: 10%;
	height: 1px;
	background: white;
	position: absolute;
    top: 80px;
    left: 250px;
    opacity: 60%;
}
#line7 {
    width: 7%;
	height: 1px;
	background: white;
	position: absolute;
    top: 550px;
    left: 770px;
    opacity: 60%;
}
#line8 {
    width: 7.5%;
	height: 1px;
	background: white;
	position: absolute;
    top: 400px;
    left:800px;
    opacity: 60%;
}
#line9 {
    width: 8%;
	height: 1px;
	background: white;
	position: absolute;
    top: 600px;
    left: 70px;
    opacity: 60%;
}
#line10 {
    width: 20%;
	height: 1px;
	background: white;
	position: absolute;
    top: 75px;
    left: 70px;
    opacity: 60%;
}
#lineA {
    width: 30%;
	height: 1px;
	background: white;
	position: absolute;
    top: 370px;
    left: 80px;
    opacity: 60%;
}
#lineB {
    width: 25%;
	height: 1px;
	background: white;
	position: absolute;
    top: 400px;
    left: 90px;
    opacity: 60%;
}
#lineC {
    width: 60%;
	height: 1px;
	background: white;
	position: absolute;
    top: 450px;
    left: 400px;
    opacity: 60%;
}
#lineD {
    width: 15%;
	height: 1px;
	background: white;
	position: absolute;
    top: 550px;
    left: 700px;
    opacity: 60%;
}
#lineE {
    width: 35%;
	height: 1px;
	background: white;
	position: absolute;
    top: 610px;
    left: 650px;
    opacity: 60%;
}
#lineF {
    width: 35%;
	height: 1px;
	background: white;
	position: absolute;
    top: 110px;
    left: 650px;
    opacity: 60%;
}

#links {
	color: rgb(246,167,33);
	text-decoration:  none;
	text-align: center;
}

