body {
	background-color: black;
}

p {
	font-family: American Typewriter;
	font-weight: lighter;
	color: rgb(246,167,33);
	font-size: 55px;
}

a {
	color: white;
}

#line1 {
	width: 500px;
	height: 1px;
	background: white;
	position: absolute;
    top: 500px;
    left: 80px;
}
#line2 {
    width: 800px;
	height: 1px;
	background: white;
	position: absolute;
    top: 300px;
    left: 100px;
}
#line3 {
    width: 400px;
	height: 1px;
	background: white;
	position: absolute;
    top: 600px;
    left: 200px;
}
#line4 {
    width: 200px;
	height: 1px;
	background: white;
	position: absolute;
    top: 60px;
    left: 70px;
}
#line5 {
    width: 200px;
	height: 1px;
	background: white;
	position: absolute;
    top: 90px;
    left: 300px;
}
#line6 {
    width: 100px;
	height: 1px;
	background: white;
	position: absolute;
    top: 80px;
    left: 250px;
}
#line7 {
    width: 70px;
	height: 1px;
	background: white;
	position: absolute;
    top: 550px;
    left: 770px;
}
#line8 {
    width: 75px;
	height: 1px;
	background: white;
	position: absolute;
    top: 400px;
    left:800px;
}
#line9 {
    width: 80px;
	height: 1px;
	background: white;
	position: absolute;
    top: 600px;
    left: 70px;
}
#line10 {
    width: 200px;
	height: 1px;
	background: white;
	position: absolute;
    top: 75px;
    left: 70px;
}
#lineA {
    width: 300px;
	height: 1px;
	background: white;
	position: absolute;
    top: 370px;
    left: 80px;
}
#lineB {
    width: 250px;
	height: 1px;
	background: white;
	position: absolute;
    top: 400px;
    left: 90px;
}
#lineC {
    width: 600px;
	height: 1px;
	background: white;
	position: absolute;
    top: 450px;
    left: 400px;
}
#lineD {
    width: 150px;
	height: 1px;
	background: white;
	position: absolute;
    top: 550px;
    left: 700px;
}
#lineE {
    width: 350px;
	height: 1px;
	background: white;
	position: absolute;
    top: 610px;
    left: 650px;
}
#lineF {
    width: 350px;
	height: 1px;
	background: white;
	position: absolute;
    top: 110px;
    left: 650px;
}

#links {
	color: rgb(246,167,33);
	text-decoration:  none;
}

