body {
	background-image: url("graymap.png");
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
	color: black;
	font-family: helvetica;
	font-weight: lighter;
	text-align: center;
}

pre {
	color: black;
	font-family: helvetica;
	font-weight: lighter;
	text-align: center;
}