body {
	background-image: url("graymap.png");
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
	color: black;
	font-family: helvetica;
	font-weight: lighter;
	text-align: center;
}

pre {
	color: black;
	font-family: helvetica;
	font-weight: lighter;
	text-align: center;
}

a {
	color: black;
	font-family: helvetica;
	font-weight: lighter;
}

a:hover {
	color: rgb(119,165,184);
}

#vietnam{
    position: absolute;
    top: 280px;
    left: 750px;
}
#longjourney {
    position: absolute;
    top: 110px;
    left: 650px;
}
#ocean {
    position: absolute;
    top: 210px;
    left: 275px;
}
#morning {
	position: absolute;
    top: 100px;
    left: 400px;
}
#yogurt {
	position: absolute;
    top: 110px;
    left: 450px;
}
#china {
	position: absolute;
    top: 1800px;
    left: 725px;
}
#error404 {
	position: absolute;
    top: 700px;
    left: 400px;
}
#bluegreen {
	position: absolute;
    top: 110px;
    left: 650px;
}
#paris {
	position: absolute;
    top: 110px;
    left: 650px;
}
#ato {
	position: absolute;
    top: 110px;
    left: 650px;
}
#showering {
	position: absolute;
    top: 110px;
    left: 650px;
}
#lifamily {
	position: absolute;
    top: 110px;
    left: 650px;
}
#hotpot {
	position: absolute;
    top: 110px;
    left: 650px;
}
#roadtrip {
	position: absolute;
    top: 110px;
    left: 650px;
}
