img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.video-wrapper {
  position: absolute;
  width: 52%;
  height: 29%;
}

.video-wrapper-1 {
  top: 10%;
  left: -2%;
}

.video-wrapper-2 {
  top: 10%;
  left: 49%;
}

.video-wrapper-3 {
  top: 60%;
  left: -3%;
}

.video-wrapper-4 {
  top: 60%;
  left: 49%;
}

.video-wrapper video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}