.whole img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: 1;
}

.video-wrapper {
  position: absolute;
  width: 52%;
  height: 46%;
  overflow: hidden;
}

.video-wrapper-1 {
  top: 5%;
  left: -2%;
}

.video-wrapper-2 {
  top: 4%;
  left: 49%;
}

.video-wrapper-3 {
  top: 50%;
  left: -3%;
}

.video-wrapper-4 {
  top: 49%;
  left: 49%;
}

.video-wrapper video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.half img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: 0;
}

@media (max-width: 500px) {
    .half img {
        opacity: 1;
    }
}

@media (max-width: 500px) {
    .whole img {
        opacity: 0;
    }
}