p {
	font-family: 'Work Sans', sans-serif;
	color: black;
	text-align: center;
}
a {
	font-family: 'Work Sans', sans-serif;
    color: black;
    text-align: center;
}
body {
    background-color: lightblue;
}