/*
  Coding from Life – Sketch 2: fluid layout

  For sketch 2 you'll be positioning elements relative to a fluid container. This
  means you'll need to use percentages when positioning and sizingelements within
  your frame.
*/


body {
  background-color: black;
}

.frame {
  width: 95vw;
  height: 57vw;
  background: white;
  margin: 2.5vw auto;
  position: relative;
  background: linear-gradient(rgb(222, 247, 231), rgb(151, 237, 182));
}

.table {
  position: absolute;
  top: 55%;
  left: 23%;
  width: 50%;
  height: 40%;
  background-color: rgb(190, 211, 244);
  z-index: 10;
}
.table2 {
  position: absolute;
  top: 38%;
  left: 25%;
  width: 48vw;
  height: 10vw;
  -webkit-transform: skew(-20deg);
     -moz-transform: skew(-20deg);
       -o-transform: skew(-20deg);
  background: rgb(217, 245, 252);
}

.vase {
  position: absolute;
  top: 28%;
  left: 46%;
  width: 5%;
  height: 10%;
  background: linear-gradient(white, rgb(219, 217, 218));
  z-index: 10;
  border-radius: 20%;
}

.book-bottom {
  position: absolute;
  top: 43%;
  left: 40%;
  width: 11.5%;
  height: 7%;
  background-color: rgb(237, 237, 239);
  z-index: 10;
  border-radius: 5%;
}
.book-bottom2 {
  position: absolute;
  top: 42%;
  left: 51%;
  width: 11%;
  height: 7%;
  background-color: rgb(79, 214, 191);
  z-index: 9;
  border-radius: 5%;
  transform: rotate(-5deg);
}

.book-top {
  position: absolute;
  top: 39.5%;
  left: 39%;
  width: 13%;
  height: 3.5%;
  background-color: rgb(242, 167, 224);
  z-index: 10;
  border-radius: 5%;
}
.book-top2 {
  position: absolute;
  top: 39%;
  left: 51%;
  width: 10%;
  height: 4%;
  background-color: rgb(219, 217, 218);
  z-index: 9;
  border-radius: 5%;
  transform: rotate(-5deg);
}
.book-top3 {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 10vw;
  height: 5vw;
  -webkit-transform: skew(20deg);
     -moz-transform: skew(20deg);
       -o-transform: skew(20deg);
  background: rgb(245, 222, 247);
}

.book-three {
  position: absolute;
  top: 30%;
  left: 33%;
  width: 2%;
  height: 21%;
  background-color: rgb(22, 15, 66);
  z-index: 10;
  border-radius: 5%;
}
.book-three2 {
  position: absolute;
  top: 30.7%;
  left: 34%;
  width: 6%;
  height: 21%;
  background-color: rgb(13, 9, 40);
  z-index: 5;
  transform: rotate(7deg);
}

.can {
  position: absolute;
  top: 45%;
  left: 62%;
  width: 3%;
  height: 5%;
  background-color: rgb(174, 174, 178);
  z-index: 10;
  border-radius: 50%;
}

.flower {
  position: absolute;
  top: 16%;
  left: 48%;
  width: .6%;
  height: 15%;
  background-color: rgb(39, 96, 42);
}

.can2 {
  position: absolute;
  top: 44.5%;
  left: 63%;
  width: 5.5%;
  height: 5%;
  background: linear-gradient(rgb(242, 195, 155), rgb(244, 179, 93));
  z-index: 9;
  border-radius: 24%;
  transform: rotate(-5deg);
}

.flower2 {
  position: relative;
  top: -717%;
  left: 191%;
  width: 32%;
  height: 52%;
  background: black;
  -moz-border-radius: 100% / 50%;
  -webkit-border-radius: 100% / 50%;
  border-radius: 50%;
}






